body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.hidden{
    display: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button{
    cursor: pointer;
}

/*------COMMON---*/

.container {
    max-width: 320px;
    padding:0 16px;
    margin: 0 auto; 
}

@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
}
  
}

 @media screen and (min-width: 1158px) {
     .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
     }
 }

/*-------HEADER MOB------*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu, 
.header-address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
padding: 0;
border: none;
background-color: transparent;
}

.brg-icon{
    display: block;
    fill: #2f2f37;
}
/*------------HEADER TAB-----*/

@media screen and (min-width: 768px){
.burger-btn {
        display: none;}


.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;  
}

.header-address {
font-style: normal;
display: block;

}

.header-nav{
display: flex;
align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.header-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current {
    position: relative;
}

.header-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;

}

.address-link {
display: block;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus,
.header-link.current {
    color: #404bbf;
}

.header-address {
font-style: normal;
display: flex;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
}

/*-------HEADER DESKTOP------*/

@media screen and (min-width: 1158px) {

.header-logo{
margin-right: 76px;
}

.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

/*----HEADER MOB MENU---*/

.mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
 opacity: 1; 
 visibility: visible; 
 pointer-events: auto;
}

.mob-menu-container{
  position: relative;  
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobmenu-close-btn {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
background: #E7E9FC;
cursor: pointer;
border-radius: 50%;
order: 1px solid rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-close-btn:hover,
.mobmenu-close-btn:focus {
background-color: #404bbf;
}

.mobmenu-close-btn:hover .close-icon,
.mobmenu-close-btn:focus .close-icon {
    fill: #ffffff;
}

.mobmenu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/*-------HERO MOB--------*/

.hero-section {
    background: #2e2f42;
    padding: 72px 0;
    background-image:
    linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/hero-cover-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

@media (max-width: 767px) and (min-resolution: 2dppx) {
.hero-section {
background-image:
linear-gradient(to bottom,
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url("../images/hero-cover-mob-2x.jpg");
}
}

.hero-title {
max-width: 216px;
margin: 0 auto 48px;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
display: block;
margin: 0 auto;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
cursor: pointer;
padding: 16px 32px;
border-radius: 4px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
.hero-button:hover,
.hero-button:focus {
background: #404bbf;
}               

/*-------HERO TAB------*/

@media screen and (min-width: 768px) {
.hero-section {
padding: 112px 0;
background-image:
linear-gradient(to bottom,
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url("../images/hero-cover-tab.jpg");
}
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
.hero-section {
background-image:
linear-gradient(to bottom,
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url("../images/hero-cover-tab-2x.jpg");
}
}

.hero-title {
max-width: 496px;
margin: 0 auto 36px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

/*-------HERO DT-----*/

@media screen and (min-width: 1158px) {
.hero-section {
 padding: 188px 0;
 background-image:
linear-gradient(to bottom,
 rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url("../images/hero-cover-dt.jpg");
}
}

@media (min-width: 1158px) and (min-resolution: 2dppx) {
.hero-section {
background-image:
linear-gradient(to bottom,
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url("../images/hero-cover-dt-2x.jpg");
    }
}

/*--------FEATURES MOB-----*/
.features-list {
display: flex;
flex-direction: column;
gap: 72px;
}

.features-section {
padding: 96px 0;
}

.icon-box {
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
display: none;
}

.icon {
display: block;
margin: 24px auto;
}

.feature-item {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.feature-description {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*--------FEATURES TAB-----*/

@media screen and (min-width: 768px){

.features-list {
flex-direction: row;
flex-wrap: wrap;
gap: 72px 24px;
    }

.list-item-features {
width: calc((100% - 24px) / 2);
    }

.feature-item {
text-align: left;
    }
}

/*--------FEATURES DT-----*/

@media screen and (min-width: 1158px) {

.features-list {
display: flex;
gap: 24px;
}

.icon-box {
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
display: block;
}

.list-item-features {
width: calc((100% - 72px) / 4);
}

.feature-item {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
}

/*--------TEAM MOB-----*/

.team-section {
background: #f4f4fd;
}

.team-header {
/*padding-top: 96px;*/
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-sec-container {
 padding: 96px 28px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.list-team-item {
    border-radius: 0 0 4px 4px;
    padding-inline: 0px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 
     0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.card-content {
padding: 32px 16px;
}

.team-item-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-item-description {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.socials {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
padding-top: 8px;
}

.link-socials {
fill: #f4f4fd;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-socials:hover,
.link-socials:focus {
background-color: #404bbf;
}

/*--------TEAM TAB-------*/
@media screen and (min-width: 768px) {

.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
}
.team-sec-container {
    padding: 0 108px;
}
}
/*--------TEAM DT--------*/

@media screen and (min-width: 1158px) {

.team-list {
flex-wrap: nowrap;
gap: 24px;
}

.team-sec-container{
    padding: 0 156px;
}

.team-header {
padding-top: 120px;
}
}

/*-------PORTFOLIO MOB----------*/

.portfolio-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /*padding-top: 96px;*/
    margin-bottom: 72px;
}
.portfolio-container{
    padding: 96px 16px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overflow-card {
    position: relative;
    overflow: hidden;
}

.overflow-card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overflow-card-text {
    transform: translateY(0);
}

.portfolio-card-content {
border: 1px solid #e7e9fc;
border-top: none;
padding: 32px 16px;
}

.portfolio-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-------PORTFOLIO TAB----------*/
@media screen and (min-width: 768px){

.portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

 .portfolio-item {
    width: calc((100% - 24px) / 2);
 }

}


/*-------PORTFOLIO DT-----------*/
@media screen and (min-width: 1158px) {
.portfolio-list {
    gap: 48px 24px;
}

 .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}

/*-------FOOTER MOB-------*/
.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
    /*padding: 96px 16px;*/
}

.footer-info {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
    text-align: center;
}

.footer-text {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-socials-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items:center;
    margin: 0 auto;
}

.socials-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.link-socials-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #ffffff;
}

.link-socials-footer:hover,
.link-socials-footer:focus {
    background-color: #31d0aa;
}

.footer-input-field {
display: flex;
flex-direction: column;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-subs-field {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subs-field:hover,
.footer-subs-field:focus {
    border-color: #31D0AA;
}

.footer-input-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 169px;
    height: 40px;
    border: none;
    background: #4d5ae5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-subs-btn .subs-btn-icon {
    fill: #ffffff;
}

.footer-subs-btn:hover,
.footer-subs-btn:focus {
    background-color: #31d0aa;
}

/*-------FOOTER TAB----*/
@media screen and (min-width: 768px){

.footer-container {
padding: 0 108px;
gap: 72px 24px;
}

.footer-info {
align-items: flex-start;
}

.footer-text {
 text-align: left;
 width: 264px;
  }

.footer-socials-box {
align-items: flex-start;
  }

.socials-text {
text-align: left;
}

.footer-input-text {
text-align: left;
}

.footer-form {
flex-direction: row;
align-items: flex-start;
gap: 24px;
  }

.footer-subs-field {
width: 264px;
  }
}

/*-------FOOTER DT-----*/
@media screen and (min-width: 1158px){

.footer-container {
flex-wrap: nowrap;
align-items: flex-start;
padding: 0 15px;
gap: 0;
}

.footer-info {
margin-right: 120px;
}

.footer-socials-box {
margin-right: 80px;
}


.footer-input-field {
display: flex;
flex-direction: column; 
} 

.footer-form {
align-items: center;
gap: 24px;
}
}